.account {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  gap: 24px;
  box-sizing: border-box;
}

.account > * {
  border-radius: 8px;
}

.account > .information {
  background-color: #0d6efd;
  color: white;
  padding: 16px;
}

.account > .balance-controller {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  flex-grow: 1;
}

.account .balance-amount {
  display: flex;
  align-items: center;
  gap: 16px;
}

.account .button-controller {
  display: flex;
  gap: 16px;
}